<!--FileName: index.ejs
//created by Deepa k
// student id :301250548
//30th September-->

<%- include ("./partials/header") %>
<%- include ("./partials/main_nav") %>

<!--Main content-->
<main class = "container">
  <div class="container py-5">
<h1 class="display-4 text-center" >Welcome to My <%= title %> Page</h1>
  </div>

<%- include ("./partials/page_contents") %>

</main>



<%- include ("./partials/bottom_nav") %>
<%- include ("./partials/footer") %>